<!DOCTYPE html>
<html lang="en">

<head>
    <title>CSReveal - Room</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>

<body>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <a href="/" class="mdl-layout-title" style="color: white; text-decoration: none;">CSReveal | </a>
                <span class="mdl-layout-title"> Room id: <%= roomObj.id %> | </span>
                <span id="userID" class="mdl-layout-title" style="display: none;">Your id</span>
                <span id="userID" class="mdl-layout-title"> | Language - <%= roomObj.lang %></span>
                <button id="compileBtn" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect"
                    style="color: white;">
                    <i class="material-icons">play_circle_filled</i>
                </button>
                <div class="mdl-layout-spacer"></div>
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                </nav>
            </div>
        </header>
        <main class="mdl-layout__content">
            <div id="editor"></div>
        </main>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/ace.js" type="text/javascript" charset="utf-8"></script>

    <script>
        var socket = io();

        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.session.setMode("ace/mode/" + "<%= roomObj.lang %>");
        editor.setFontSize("22px");

        var language = "<%= roomObj.lang %>";

        if (language == 'java') {
            var javaValue =
                '// Hello world! \nclass Main { \n    public static void main(String[] args) {\n      System.out.println("Hello world!"); \n  } \n}';
            editor.getSession().setValue(javaValue);
        } else if (language == 'javascript') {
            var jsValue =
                '// Hello world! \nfunction reverse(string) { \n  return string.split("").reverse().join(""); \n}';
            editor.getSession().setValue(jsValue);
        }

        document.getElementById("editor").addEventListener('keyup', () => {
            var value = editor.getSession().getValue();

            socket.emit('textChanged', {
                clientId: socket.id,
                roomId: '<%= roomObj.id %>',
                content: value
            });
        });

        setTimeout(() => {
            document.getElementById('userID').innerHTML = ` Your id: ${socket.id}`;

            socket.emit('joinedRoom', {
                clientId: socket.id,
                roomId: '<%= roomObj.id %>'
            });
        }, 100);


        socket.on('applyText', text => {
            editor.getSession().setValue(text);
        });
    </script>
</body>

</html>